<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sahakari</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>includefile</servlet-name>
    <jsp-file>/include.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>includefile</servlet-name>
    <url-pattern>/includefile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavigationController</display-name>
    <servlet-name>NavigationController</servlet-name>
    <servlet-class>com.sahakari.controller.NavigationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationController</servlet-name>
    <url-pattern>*.click</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddController</display-name>
    <servlet-name>AddController</servlet-name>
    <servlet-class>com.sahakari.controller.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddController</servlet-name>
    <url-pattern>*.add</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.sahakari.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>*.update</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.sahakari.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>*.del</url-pattern>
  </servlet-mapping>
</web-app>